body {
  display: flex;
  flex-direction: row-reverse;
}

main {
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside {
  width: 20vw;
  height: 100vh;
  background-color: darkgrey;
}

.bluebox {
  width: 10vw;
  height: 10vh;
  background-color: blue;
  margin: 2rem auto;
}

.header {
  background-color: gray;
  height: 10vh;
  display: flex;
  flex-direction: row-reverse;
}

.header span {
  margin-right: 2rem;
  align-self: center;
  background-color: darkgray;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}

.popup {
  height: 40vh;
  background-color: bisque;
  margin: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.popup input {
  margin: 0 auto;
}

.popup button {
  margin: 0 auto;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: gray;
  align-self: flex-end;
  margin-bottom: 2rem;
}

@media screen and (max-width: 375px) {
  aside {
    background-color: transparent;
    height: 10vh;
  }
  .bluebox {
    margin: 1rem 5rem;
    height: 5vh;
    width: 10vh;
  }

  main {
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
  }
  .popup {
    width: 100%;
    align-self: center;
  }
  .circle {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
}
